/*
  CSS File
*/

*{
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

.header {
  min-height: 95vh;
  width:100%;
  background-image: linear-gradient(rgba(164, 165, 235, 0.116), rgba(164, 235, 217, 0.408)), url(https://images.unsplash.com/photo-1557511073-52a2f498318f);
  background-size: 130%;
  background-position: left;
  position: relative;

}

nav{
  display:flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-items { 
  flex: 1;
  text-align: right;

}

.nav-items ul li{
  list-style: none;
  display:inline-block;
  padding: 8px 10px;
  position: relative;
}

.nav-items ul li a{
  color:white;
  text-decoration: none;
  font-size: 20px;
}

.nav-items ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #36d8f4;
  display:block;
  margin: auto;
  transition: 0.5s;
}

.nav-items ul li:hover::after{
  width: 100%;
}

.text-box {
  width: 90%;
  color:white;
  position: absolute;
  top: 30%;
  left: 5%;
  text-align: left;
}

.text-box h1 {
  font-size: 52px;
}

.text-box h1::after{
  content: '';
  width: 40%;
  height: 2px;
  background: #36d8f4;
  display:block;
}

.hero-btn {
  display:inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 35px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;

}

.hero-btn:hover{
  border: 1px solid #36d8f4;
  background: #36d8f4;
  transition: 1s;
}

nav .material-icons{
  display: none;
}

@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }

  .nav-items ul li{
    display: block;
  }

  .nav-items{
    position: absolute;
    background: #36d8f4;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .material-icons{
    display: block;
    color:#fff;
    margin: 10px;
    font-size: 30px;
    cursor:pointer;
  }

  .nav-items ul{
    padding: 25px;
  }
  
}

/* classes */

.classes{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.classes h1 {
  font-size: 52px;
  font-weight: 600;
  color:#000000;
}

.classes h1::after{
  content: '';
  width: 55%;
  height: 2px;
  background: #36d8f4;
  display:block;
  margin: auto;
}

.classes h3 {
  color: #000000;
  font-weight: 400;
}

.classes p {
  color:#777;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  padding: 15px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.classes-col {
  flex-basis: 30%;
  background: #e6f5ff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 15px 5px;
  box-sizing: border-box;
  transition: 0.5s;
}

.classes-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.surf-img {
  width: 95%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;}

/*!
  display:flex;
  justify-content: space-between;
  align-items: top;
  padding: 10px;
  color:#ffffffb0;
  font-size: 30px;
  
}

.nav-items {
  font-size: 20px;
  float: right;
}


.logo {
  font-size: larger;
  font-style: oblique;

}

.hero {
  background: #cbf0f8;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  padding: 10px;
}*/